flow1
[{"id":"1fad5613.52c7ea","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f9060f64.dba1f","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d737e76f.e95c18","type":"rpi-gpio in","z":"1fad5613.52c7ea","name":"button","pin":"7","intype":"up","debounce":"25","read":true,"x":50,"y":180,"wires":[["51341bcf.7ab3a4","f1aba8ea.c5ff18"]]},{"id":"51341bcf.7ab3a4","type":"debug","z":"1fad5613.52c7ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":140,"wires":[]},{"id":"a4e196e7.d74a98","type":"rpi-gpio out","z":"1fad5613.52c7ea","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":590,"y":200,"wires":[]},{"id":"f1aba8ea.c5ff18","type":"switch","z":"1fad5613.52c7ea","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":220,"wires":[["89435c5f.27c2"],["9b3b7f80.a9a8c"]]},{"id":"89435c5f.27c2","type":"change","z":"1fad5613.52c7ea","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":220,"wires":[["a4e196e7.d74a98"]]},{"id":"9b3b7f80.a9a8c","type":"change","z":"1fad5613.52c7ea","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":260,"wires":[["a4e196e7.d74a98"]]}]
